html,body{
    font-family: Book Antiqua;
}

body{
    font-size: 17px;
    color: #F6AA1C;
    margin: 0;
    background-color: #941B0C;
}

input, textarea, button{
    background-color: #941B0C;
    color: white;
    border: solid #220901;
    border-radius: 5px;
}

button{
    color:#F6AA1C;
}

#wrapper{
    position:relative;
    background-color: #621708;
}

#heading{
    float:left;
    height:100%;
}

#newGameDiv{
    position: absolute;
    right:0px;
    width:75px;
    height:100%;
}

#newGameButton{
    height:100%;
    width:100%;
    font-size:30px;
    text-align:center;
}

#playerNames{
    position: absolute;
    width:100%;
}

@media(max-height:414.98px){
    @media(min-width:992px){
        h1{
            font-size:40px;
        }
        #cardDisplay{
            height:260px;
            font-size: 18px;
        }
    }

    @media(min-width: 578px){
        body{
            background-color:black;
        }
        #cardDisplay{
            height:280px;
        }
    }

    @media (max-width: 575.98px){
        #cardDisplay{
            height:280px;
            font-size:17px;
        }
    }
}

@media(min-height:415px) and (max-height:659.98px){
    @media(min-width:992px){
        h1{
            font-size:40px;
        }
        #cardDisplay{
            height:280px;
            font-size: 20px;
        }
    }

    @media(min-width: 578px) and (max-width:991.98){
        #cardDisplay{
            height:280px;
            font-size: 20px;
        }
    }
}

@media(min-height:660px){

    @media(min-width:992px){
        h1{
            font-size:50px;
        }
        #cardDisplay{
            height:490px;
            font-size: 25px;
        }
    }

    @media(max-width: 991.98px){
        #cardDisplay{
            height:500px;
        }
    }

    @media (max-width: 575.98px){
        #cardDisplay{
            height:306px;
        }
    }
}

#number{
    text-align:center;
    font-weight: bolder;
}

#nextPlayer{
    font-size:13px;
}

#eventCardDiv{
    border:solid;
}



#initiativeButton, #startGameButton,#eventCardButton,#nextPlayer {
    float:right;
    font-size: 20px;
    height:50px;
}